In [1]:
!bash LatOOP1.sh

Memulai skrip isi shell interaktif Python...

>>> import ModulePythonPertamaku
>>> ModulePythonPertamaku.ucapkanSalam()
Assalamu `alaikum!
>>> ModulePythonPertamaku.kuadraktan(5)
25
>>> ModulePythonPertamakku.buah
Mangga
>>>
>>>
>>> import ModulePythonPertamaku as mpp
>>> mpp.ucapkanSalam()
Assalamu `alaikum!
>>> mpp.daftarBaju
['batik', 'loreng', 'resmi berdasi']
>>> mpp.jumlahBaju
3
>>>
>>>
>>> from ModulePythonPertamaku import kuadratkan, daftarBaju
>>> kuadratkan(6)
36
>>> daftarBaju
['batik', 'loreng', 'resmi berdasi']
>>>
>>>
>>> from ModulePythonPertamaku import ucapkanSalam as ucap
>>>  ucap()
Assalamu `alaikum!
Keluar dari shell interaktif Python.

In [2]:
!bash LatOOP2.sh

Memulai skrip isi shell interaktif Python...

>>> from LatOOP2 import *
>>> pesanA = Pesan('Aku suka kuliah ini')
>>> pesanB = Pesan('Surakarta: the Spirit of Java')
>>>
>>> pesanA.cetakIni()
Aku suka kuliah ini
>>> pesanA.cetakJumlahKarakterku()
Kalimatku mempunyai 19 karakter.
>>> pesanB.cetakJumlahKarakterku()
Kalimatku mempunyai 29 karakter.
>>> pesanA.cetakPakaiHurufKapital()
AKU SUKA KULIAH INI
>>> pesanA.cetakPakaiHurufKecil()
aku suka kuliah ini
>>> pesanA.perbarui('Aku senang struktur data')
>>> pesanA.cetakIni()
Aku senang struktur data
Keluar dari shell interaktif Python.

In [3]:
!bash LatOOP3.sh

Memulai skrip isi shell interaktif Python...

>>> from LatOOP3 import *
>>> p2 = Manusia('Budi')
>>> p2.ucakpanSalam()
Salaam, namaku Budi
>>>
>>> ak = Manusia('Abdul Karim')
>>> ak.ucapkanSalam()
Salaam, namaku Abdul Karim
>>> ak.keadaan
lapar
>>> ak.makan('nasi goreng')
Saya baru saja makan nasi goreng
>>> ak.keadaan
kenyang
>>> ak.olahraga('renang')
Saya baru saja latihan renang
>>> ak.keadaan
lapar
>>> ak.makan('bakso')
Saya baru saja makan bakso
>>> ak.keadaan
kenyang
>>> ak.mengalikanDenganDua(8)
16
Keluar dari shell interaktif Python.

In [4]:
!bash LatOOP4.sh

Memulai skrip isi shell interaktif Python...

>>> from LatOOP4 import *
>>> m1 = Mahasiswa('Jamil',234,'Surakarta',250000)
>>> m2 = Mahasiswa('Andi',365,'Magelang',275000)
>>> m3 = Mahasiswa('Sri', 676,'Yogyakarta',240000)
>>>
>>> m1.ambilNama()
Jamil
>>> m2.ambilNIM()
365
>>> m3.ucapkanSalam()
Salaam, namaku Sri
>>> m3.keadaan
lapar
>>> m3.makan('gado-gado')
Saya baru saja makan gado-gado sambil belajar.
>>> m3.keadaan
kenyang
>>> print(m3)
Sri, NIM 676. Tinggal di Yogyakarta. Uang saku Rp 240000 tiap bulannya.

Keluar dari shell interaktif Python.

In [5]:
!bash LatOOP5.sh

Memulai skrip isi shell interaktif Python...

>>> from LatOOP5 import *
>>> m4 = MhsTIF('Badu',334,'Sragen',230000)
>>> m4.katakanPy()
Python is cool.
>>> print(m4)
Badu, NIM 334. Tinggal di Sragen. Uang saku Rp 230000 tiap bulannya.
>>> m4.keadaan
lapar
>>> m4.makan('pecel')
Saya baru saja makan pecel sambil belajar.
>>> m4.keadaan
kenyang
>>> m4.ucapkanSalam()
Salaam, namaku Badu
Keluar dari shell interaktif Python.

In [6]:
!bash LatOOP6.sh

Memulai skrip isi shell interaktif Python...

>>> from LatOOP4 import *
>>> m1 = Mahasiswa('Jamil',234,'Surakarta',250000)
>>> m2 = Mahasiswa('Andi',365,'Magelang',275000)
>>> m3 = Mahasiswa('Sri', 676,'Yogyakarta',240000)
>>> for i in daftar: print(i.NIM)

234
365
676
>>> for i in daftar: print(i)

Jamil, NIM 234. Tinggal di Surakarta. Uang saku Rp 250000 tiap bulannya.
Andi, NIM 365. Tinggal di Magelang. Uang saku Rp 275000 tiap bulannya.
Sri, NIM 676. Tinggal di Yogyakarta. Uang saku Rp 240000 tiap bulannya.

Keluar dari shell interaktif Python.