# No 1

In [2]:
def cetakSiku(x):
	global tempe;
	tempe = "";
	for i in range(0, x+1):
		for j in range (0, i):
			tempe += "*";
		print(tempe);
		tempe = "";

cetakSiku(5);

*
**
***
****
*****

# No 2

In [3]:
tempA = "";

def gambarPersegiEmpat(y, x):
	global tempA;
	for i in range (0, y):
		for j in range (0, x):
			if(i == 0 or i == y-1 or j == 0 or j == x-1):
				tempA += "@";
			else:
				tempA += " ";
		print(tempA);
		tempA = "";
		
			
gambarPersegiEmpat(4,5);

@@@@@
@   @
@   @
@@@@@

# No 3

In [4]:
length = 0;
ans = 0;

def jumlahHurufVokal(teks):
	global length, ans;
	for char in teks:
		if(char == 'a' or char == 'i' or char == 'u' or char == 
'e' or char == 'o'):
			ans += 1;
		length += 1;
	print("("+str(length)+", "+str(ans)+")");


jumlahHurufVokal(str("Surakarta"));

(9, 4)

In [5]:
length = 0;
ans = 0;

def jumlahHurufKonsonan(teks):
	teks = str(teks);
	global length, ans;
	for char in teks:
		if(char == 'a' or char == 'i' or char == 'u' or char == 
'e' or char == 'o'):
			ans += 1;
		length += 1;
	ans = length - ans;
	print("("+str(length)+", "+str(ans)+")");


jumlahHurufKonsonan("Surakarta");

(9, 5)

# No 4

In [6]:
def rerata(x):
	length = 0;
	tempA = 0;
	for i in x:
		tempA += i;
		length += 1;
	print(tempA/length);



rerata([1,2,3,4,5]);
g = [3,4,5,4,3,4,5,2,2,10,11,23];
rerata(g);

3.0
6.333333333333333

# No 5

In [9]:
from math import sqrt as sq

def apakahPrima(n):
	n = int(n) ; # Kalau pecahan, dibuang pecahannya.
	assert n>=0; # Hanya menerima bilangan non-negatif.
	primaKecil = [2,3,5,7,11]; # Kalau angkanya kecil, akan
	bukanPrKecil = [0,1,4,6,8,9,10]; 	# tertangkap di sini.
	if n in primaKecil:
		print("Merupakan bilangan prima");
		return True;
	elif n in bukanPrKecil:
		print("Bukan merupakan bilangan prima");
		return False;
	else:
		for i in range(2,int(sq(n))+1): #Cukup sampai akar nya.
			if(n%i == 0 and n != 1):
				print("Bukan merupakan bilangan prima");
				# return False;
		print("Merupakan bilangan prima");
		# return True

apakahPrima(31)
apakahPrima(97)
apakahPrima(123)

Merupakan bilangan prima
Merupakan bilangan prima
Bukan merupakan bilangan prima
Merupakan bilangan prima

# No 6

In [10]:
from math import sqrt;

def cetakPrima(n):
	n = int(n);
	ans = [];
	assert n >= 0;
	for i in range(1, n):
		cek = 0;
		for j in range(2, int(sqrt(i)+1)):
			if(i%j == 0):
				cek += 1;
				break;
		if(cek == 0 and i != 1):
			ans = ans + [i];
		else:
			continue;
	print(tuple(ans));
				

cetakPrima(1000);

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997)

# No 7

In [11]:
def faktorPrima(n):	# roda faktorisasi [50% dari O(sqrt(n))]
	ans = [];
	n = int(n);
	while n%2 == 0:
		ans = ans + [2];
		n /= 2;
	tempA = 3 * 3;
	if tempA <= n:
		for d in range(3, tempA, 2):
			while n % d == 0:
				ans = ans + [d];
				n /= d;
			tempA = (d+2) * (d+2);
			if tempA > n:
				break;
	if n > 1:
		ans = ans + [n];
	print(tuple(ans));

faktorPrima(100);

(2, 2, 5, 5)

# No 8

In [12]:
def apakahTerkandung(x, teks):
	if x in teks:
		print("True");
	else:
		print("False");


h = "do";
k = "Indonesia tannah air beta";
apakahTerkandung(h, k);

True

# No 9

In [13]:
for i in range (1,101):
	if(i%15 == 0):
		print("Python UMS");
	elif(i%5 == 0):
		print("UMS");
	elif(i%3  == 0):
		print("Python");
	else: 
		print(str(i));

1
2
Python
4
UMS
Python
7
8
Python
UMS
11
Python
13
14
Python UMS
16
17
Python
19
UMS
Python
22
23
Python
UMS
26
Python
28
29
Python UMS
31
32
Python
34
UMS
Python
37
38
Python
UMS
41
Python
43
44
Python UMS
46
47
Python
49
UMS
Python
52
53
Python
UMS
56
Python
58
59
Python UMS
61
62
Python
64
UMS
Python
67
68
Python
UMS
71
Python
73
74
Python UMS
76
77
Python
79
UMS
Python
82
83
Python
UMS
86
Python
88
89
Python UMS
91
92
Python
94
UMS
Python
97
98
Python
UMS

# No 10

In [14]:
from math import sqrt as akar

def selesaikanABC(a,b,c):
	a = float(a);
	b = float(b);
	c = float(c);
	D = b**2 - 4*a*c;
	if(D > 0):
		x1 = (-b + akar(D))/(2*a);
		x2 = (-b - akar(D))/(2*a);
		hasil = (x1,x2);
	else:
		hasil = "Determinannya negatif. Persamaan tidak mempunyai akar real.";
	return hasil


print(selesaikanABC(1,2,3));
print(selesaikanABC(1,-5,6));

Determinannya negatif. Persamaan tidak mempunyai akar real.
(3.0, 2.0)

# No 11

In [15]:
def apakahKabisat(year):
	if(year%4 == 0):
		if(year%400 == 0):
			return True;
		elif(year%100 == 0):
			return False;
		else:
			return True;
	else:
		return False;
		


print(apakahKabisat(1974));
print(apakahKabisat(1900));
print(apakahKabisat(2100));
print(apakahKabisat(2004));
print(apakahKabisat(112104));
print(apakahKabisat(2400));

False
False
False
True
True
True

# No 12

In [18]:
import random

def main():
    # Membangkitkan angka random antara 1 sampai 100
    angka_rahasia = random.randint(1, 100)

    print("Permainan tebak angka.")
    print("Saya menyimpan sebuah angka bulat antara 1 sampai 100. Coba tebak.")

    # Menebak angka
    tebakan_ke = 0
    while True:
        tebakan_ke += 1
        tebakan = int(input(f"Masukkan tebakan ke-{tebakan_ke}:> "))

        if tebakan < angka_rahasia:
            print("Itu terlalu kecil. Coba lagi.")
        elif tebakan > angka_rahasia:
            print("Itu terlalu besar. Coba lagi.")
        else:
            print("Ya. Anda benar.")
            break

if __name__ == "__main__":
    main()

Permainan tebak angka.
Saya menyimpan sebuah angka bulat antara 1 sampai 100. Coba tebak.

Masukkan tebakan ke-1:>  50

Itu terlalu besar. Coba lagi.

Masukkan tebakan ke-2:>  25

Itu terlalu kecil. Coba lagi.

Masukkan tebakan ke-3:>  37

Itu terlalu kecil. Coba lagi.

Masukkan tebakan ke-4:>  43

Itu terlalu besar. Coba lagi.

Masukkan tebakan ke-5:>  40

Itu terlalu besar. Coba lagi.

Masukkan tebakan ke-6:>  39

Itu terlalu besar. Coba lagi.

Masukkan tebakan ke-7:>  38

Ya. Anda benar.

# No 13

In [16]:
def decode(angka):
    if angka < 0 or angka >= 1000000000:
        return "Input harus berupa bilangan bulat positif yang lebih kecil dari satu milyar."
    elif angka == 0:
        return ""
    elif angka < 10:
        return ["", "satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan"][angka]
    elif angka < 20:
        return ["sepuluh", "sebelas", "dua belas", "tiga belas", "empat belas", "lima belas", "enam belas", "tujuh belas", "delapan belas", "sembilan belas"][angka - 10]
    elif angka < 100:
        return ("" if angka // 10 == 1 else decode(angka // 10)) + " puluh " + decode(angka % 10)
    elif angka < 1000:
        return decode(angka // 100) + " ratus " + decode(angka % 100)
    elif angka < 1000000:
        return decode(angka // 1000) + " ribu " + decode(angka % 1000)
    else:
        return decode(angka // 1000000) + " juta " + decode(angka % 1000000)

def katakan(angka):
	ans = decode(angka);
	if "satu ratus" in ans:
		ans = ans.replace("satu ratus", "seratus");
	if "satu ribu" in ans:
		ans = ans.replace("satu ribu", "seribu");
	if "satu puluh" in ans:
		ans = ans.replace("satu puluh", "sepuluh");
	return ans.capitalize();



print(katakan(10));
print(katakan(1420));
print(katakan(3125750));

Sepuluh
Seribu empat ratus dua puluh
Tiga juta seratus dua puluh lima ribu tujuh ratus lima puluh

# No 14

In [17]:
def formatRupiah(num):
	num = str(num);
	ans = "";
	post = 0;
	for i in num[::-1]:
		if(post%3 == 0 and post != 0):
			ans = "." + ans;
		ans = i + ans;
		post += 1;
	ans = "Rp " + ans;
	print(ans);

formatRupiah(2560000);

Rp 2.560.000