# Review 1

In [1]:
a = 4
b = 5
c = a + b
print('Nilai a = ', a)
print('Nilai b = ', b)
print('Sekarang, c = ', a, ' + ', b, ' = ', c)
print('')
print('Sudah selesai.')

Nilai a =  4
Nilai b =  5
Sekarang, c =  4  +  5  =  9

Sudah selesai.

# Review 2

In [2]:
print('Kita perlu bicara sebentar...')
nm = input('Siapa namamu? (ketik di sini)> ')
print('Selamat belajar, ', nm)
angkaStr = input('Masukkan sebuah angka antara 1 sampai 100 > ')
a = int(angkaStr)
kuadratnya = a*a
print(nm + ', tahukah kamu bahwa ', a, ' kuadrat adalah ',  kuadratnya, '?')

Kita perlu bicara sebentar...

Siapa namamu? (ketik di sini)>  Adon

Selamat belajar,  Adon

Masukkan sebuah angka antara 1 sampai 100 >  6

Adon, tahukah kamu bahwa  6  kuadrat adalah  36 ?

# Review 3

In [3]:
def ucapkanSalam():
    print("Assalamu 'alaikum!")

def sapa(nama): 
    ucapkanSalam()  # Ini memanggil fungsi ucapkanSalam() di atas.
    print('Halo', nama)
    print('Selamat belajar!')

def kuadratkan(b):
    h = b*b
    return h

In [4]:
ucapkanSalam()

Assalamu 'alaikum!

In [5]:
sapa('Adon')

Assalamu 'alaikum!
Halo Adon
Selamat belajar!

In [6]:
kuadratkan(6)

36

# Review 4

In [7]:
from math import sqrt as akar

def selesaikanABC(a,b,c):
    a = float(a) # mengubah jenis integer menjadi float
    b = float(b)
    c = float(c)
    D = b**2 - 4*a*c
    x1 = (-b + akar(D))/(2*a)
    x2 = (-b - akar(D))/(2*a)
    hasil = (x1,x2) # tuple yang terdiri dari dua elemen
    return hasil

In [8]:
selesaikanABC(1, -5, 6)

(3.0, 2.0)

# Review 5

In [9]:
def apakahGenap(x):
    if (x%2 == 0):
        return True
    else:
        return False

In [10]:
apakahGenap(10)

True

In [11]:
apakahGenap(7)

False

# Review 6

In [12]:
def tigaAtauLima(x):
    if (x % 3 == 0 and x % 5 == 0):
        print('Bilangan itu adalah kelipatan 3 dan 5 sekaligus')
    elif x % 3 == 0:
        print('Bilangan itu adalah kelipatan 3')
    elif x % 5 == 0:
        print('Bilangan itu adalah kelipatan 5')
    else:
        print('Bilangan itu bukan kelipatan 3 maupun 5')

In [13]:
tigaAtauLima(5)

Bilangan itu adalah kelipatan 5

In [14]:
tigaAtauLima(15)

Bilangan itu adalah kelipatan 3 dan 5 sekaligus

In [15]:
tigaAtauLima(3)

Bilangan itu adalah kelipatan 3

# Review 7

In [16]:
staff = {'Santi': 'santi@ums.ac.id',
         'Jokowi': 'jokowi@solokab.go.id',
         'Endang': 'Endang@yahoo.com',
         'Sulastri': 'Sulastri3@gmail.com'}

yangDicari = 'Santi'
if yangDicari in staff:
    print('emailnya', yangDicari, 'adalah', staff[yangDicari])
else:
    print('Tidak ada yang namanya', yangDicari)

emailnya Santi adalah santi@ums.ac.id

# Review 8

In [17]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Review 9

In [18]:
s2 = "Ini Budi"
s1 = [4, 3, 2, 5, 6]

for i in s1:
    print(i)
print(" ")

for j in s2:
    print(j)

4
3
2
5
6

I
n
i

B
u
d
i

# Review 10

In [19]:
dd = {'nama': 'joko', 'umur': 21, 'asal': 'surakarta'}
for kunci in dd:
    print(kunci, '<---->', dd[kunci])

nama <----> joko
umur <----> 21
asal <----> surakarta

# Review 11

In [20]:
bil = 0
while(bil*bil<200):
    print(bil, bil*bil)
    bil = bil + 1

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196